.blog {
  padding: 35px 0;
}

.swiper {
  width: 1140px;
  gap: 15px;
  margin: 25px 0;
}
.swiper-slide {
  height: 400px;
  background: #f2f2f2;
  margin: 0 15px;
}

.blog-img {
  width: 100%;
  height: 230px;
}

.blog-text {
  padding: 15px;
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.blog-subname {
  color: green;
  padding: 15px;
  padding-bottom: 0;
  font-weight: 600;
}

.blog-items {
  display: none;
}

.blog-items .swiper-slide {
  height: 500px;
  background: #f2f2f2;
  margin: 0 15px;
}
